@using DomraSinForms.Application.Forms.Commands.Update;
@using DomraSinForms.Application.Forms.Queries.GetList;
@using DomraSinForms.Application.Questions.Commands.CreateOptionsQuestion;
@using DomraSinForms.Application.Questions.Commands.CreateTextQuestion;
@using DomraSinForms.Domain.Models.Questions;
@using DomraSinForms.Domain.Models;
@using Forms.Mvc.Services;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model EditFormViewModel
@{
    ViewData["Title"] = @Localizer["Edit"]?.Value;
}

<h1 class="text-center">@Localizer["Edit"]</h1>

<div class="row g-1 gx-2 justify-content-center">
    <div class="col-sm-1 col-md-2 col-xl-3">

    </div>
    <div class="col-sm-10 col-md-8 col-xl-6 row g-3">

        <div class="col-12">
                @(
                    await Html.PartialAsync("_EditFormPartial", new UpdateFormCommand
                    { 
                        Id = Model.Form.Id,
                        Description = Model.Form.Description,
                        Title = Model.Form.Title,
                        UserId = Model.Form.CreatorId
                    })
                )

        </div>
        <div class="col-12 text-center h4">@Localizer["Questions"]</div>
        @foreach (var question in Model.Form?.Questions.OrderBy(q => q.Index))
        {
            <div class="col-12">
                @await Html.PartialAsync("/Views/Questions/_QuestionCardPartial.cshtml", question)
            </div>
        }
        <div class="col-12 mt-5 dropup-center dropup ">
            <button class="btn btn-primary form-control" data-bs-toggle="dropdown">@Localizer["Create new question"]</button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createTextQuestionModal">@Localizer["Text question"]</button>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createOptionsQuestionModal">@Localizer["Options question"]</button>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="h5 text-center mt-sm-0 mt-5 col-sm-1 col-md-2 col-xl-3 col-12">
        <div class="form-control">
            
                <div class="row my-1 g-3">
               <div class="col-12">
                        <a class="btn btn-outline-secondary form-control" asp-controller="Statistics" asp-route-formId="@Model.Form.Id" asp-action="Answers"><i class="bi-graph-up me-2"></i>@Localizer["Show statistics"]</a>
                </div>                 
                <div class="col-12">
                <a class="btn btn-outline-secondary form-control" asp-action="Index"><i class="bi-card-checklist me-2"></i>@Localizer["Show answers"]</a>
                </div>
                </div>
            
        </div>
       
    </div>
</div>


<h4 class="h5 text-center mt-5">
    <a class="nav-link" asp-action="Index"><i class="bi-arrow-left me-2"></i>@Localizer["Back to list"]</a>
</h4>


@(
    await Html.PartialAsync("/Views/Questions/_CreateTextQuestionModalPartial.cshtml", new CreateTextQuestionCommand(), new ViewDataDictionary(ViewData)
    {
        { "FormId", Model.Form.Id }
    })
)
@(
    await Html.PartialAsync("/Views/Questions/_CreateOptionsQuestionModalPartial.cshtml", new CreateOptionsQuestionCommand(), new ViewDataDictionary(ViewData)
    {
        { "FormId", Model.Form.Id }
    })
)
