@using DomraSinForms.Application.Forms.Queries.GetList;
@model IEnumerable<FormDto>

@{
    ViewData["Title"] = "Все формы";
}

<h1>Все формы</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi-plus-circle me-2"></i> Создать форму</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            <th>
                Описание
            </th>
                @*<th>
            @Html.DisplayNameFor(model => model.CreatorId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.CreatorId)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a class="link-danger"
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteModal" 
                        data-bs-id="@item.Id"
                        data-bs-title="@item.Title"> Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-1 text-center">

            <div class="modal-body justify-content-center">
                
                <div class="h2 mb-5">Удалить форму <q></q>?</div>

                <form asp-action="Delete" method="post">
                    <input class="btn btn-danger" type="submit" />
                </form>

            </div>

        </div>
    </div>
</div>
@section Scripts 
{
    <script>
        const deleteModal = document.getElementById('deleteModal')
        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', event => {
                // event sender
                const button = event.relatedTarget
                // attribute extractions
                const id = button.getAttribute('data-bs-id')
                const title = button.getAttribute('data-bs-title')

                // Update the modal's content.
                deleteModal.querySelector('.modal-body form').attributes.getNamedItem("action").value += `/${id}`;
                const titleElement = document.createTextNode(title);
                deleteModal.querySelector('.modal-body div q').appendChild(titleElement); //parentNode.appendChild(`<div>${title}</div>`);
            })
        }
    </script>
}