@using DomraSinForms.Application.Forms.Queries.GetList;
@using Forms.Mvc.Helpers;
@using Microsoft.AspNetCore.Mvc.Localization;
@model FormListDto
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forms"];
    var searchText = Model.Query.SearchText;
    var order = Model.Query.OrderBy;

}
<div class="row g-3 justify-content-start">

    <div class="col-12 text-center display-5 mb-5">@Localizer["Forms"]</div>


    <div class="col-12 col-sm-4 text-sm-start text-center">
        <a class="btn btn-primary form-control" asp-action="Create"><i class="bi-plus-circle me-2"></i> @Localizer["New form"]</a>
    </div>



    <div class="col-12 col-sm-4">
        <form asp-controller="Forms" asp-action="Index" asp-route-page="@searchText">
            <div class="input-group">
                <input asp-for="@searchText" type="text" class="form-control" placeholder="@Localizer["Search ..."]" aria-label="Input group example" aria-describedby="btnGroupAddon">
                <button class="btn btn-outline-secondary input-group-text" id="btnGroupAddon" type="submit"><i class="bi-search"></i></button>
            </div>
        </form>
    </div>
    
    <div class="col-12 col-sm-4">
        <form asp-controller="Forms" asp-action="Index" asp-route-order="@order">
            <div class="input-group">
                <select class="form-select" asp-for="@order" asp-items="@FormSortHelper.OrderApproaches(Localizer)"></select>
                <button class="btn btn-outline-secondary input-group-text" id="btnGroupAddon" type="submit"><i class="bi-funnel"></i></button>
            </div>
        </form>
    </div>
    @foreach (var form in Model.Forms)
    {
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card h-100 card-button @(form.IsInArchive ? "text-muted" : "")" asp-action="Edit" asp-route-id="@form.Id" style="height: 15rem;">
                <a class="card-body text-decoration-none" asp-action="Edit" asp-route-id="@form.Id">
                    <div class="card-title h5 flex-nowrap text-overflow-ellipsis">@form.Title</div>
                    <div class="card-text mb-2 text-overflow-ellipsis">@form.Description</div>
                    <div class="card-text text-muted small align-text-bottom">@Localizer["Last edit"]: @form.FormatLastUpdate(Localizer["Today {0}"]?.Value ?? "") </div>
                </a>
                <div class="card-footer">
                    <div class="row g-1 justify-content-end">
                        @*<div class="col-6 col-md-3">
                    <a class="btn btn-sm btn-outline-secondary form-control" asp-action="Edit" asp-route-id="@form.Id">@Localizer["Edit"]</a>
                    </div>*@
                        <div class="col">
                            <a class="btn btn-lg btn-outline-secondary form-control" asp-controller="Answers" asp-action="Fill" asp-route-formId="@form.Id" data-bs-toggle="tooltip" data-bs-title="@Localizer["Fill"]">
                                <i class="bi-input-cursor-text me-2"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-lg btn-outline-info form-control" data-bs-toggle="modal" data-bs-target="#share@(form.Id)">
                                <i class="bi-share me-2" data-bs-toggle="tooltip" data-bs-title="@Localizer["Share"]"></i>
                            </a>
                            @await Html.PartialAsync("_ShareModalPartial", form.Id, new ViewDataDictionary(ViewData){{"ModalId", $"share{form.Id}"}})
                        </div>
                        <div class="col">
                            <a class="btn btn-lg btn-outline-danger form-control" data-bs-toggle="modal" data-bs-target="#delete@(form.Id)">
                                <i class="bi-trash3 me-2" data-bs-toggle="tooltip" data-bs-title="@Localizer["Delete"]"></i>
                            </a>
                            @await Html.PartialAsync("_DeleteModalPartial", form, new ViewDataDictionary(ViewData){{"ModalId", $"delete{form.Id}"}})
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    <div class="col-12 justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" @(Model.PageCount == 1 ? "hidden" : "")>
        <div class="btn-group me-2" role="group" aria-label="First group">
            @for (int i = 0; i < Model.PageCount; i++)
            {
                <a asp-controller="Forms"
               asp-action="Index"
               asp-route-page="@i"
               asp-route-count="@Model.Query.Count"
               asp-route-order="@Model.Query.OrderBy"
                   class="btn @((i) == Model.Query.Page ? "btn-secondary" : "btn-outline-secondary")"
                   type="button"> @(i + 1)</a>
            }
        </div>
    </div>



</div>



@section Scripts
{
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
}