@model IEnumerable<DomraSinForms.Domen.Models.Form>

@{
    ViewData["Title"] = "Список форм";
}

<h1>Список форм</h1>

<p>
    <a asp-action="Create">Создать форму</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название формы
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
