@using DomraSinForms.Application.Forms.Queries.GetList;
@using Microsoft.AspNetCore.Mvc.Localization;
@model FormsDto
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forms"];
    ViewData["PageCount"] = 6;
    var searchText = Model.SearchText;
}
<div class="row g-5 justify-content-between">

    <div class="col-12 text-center display-5">@Localizer["Forms"]</div>


    <div class="col-4 text-start">
        <a class="btn btn-primary" asp-action="Create"><i class="bi-plus-circle me-2"></i> @Localizer["New form"]</a>
    </div>

    <div class="col-4 justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            @for (int i = 0; i < Model.PageCount; i++)
            {
                <a asp-controller="Forms"
               asp-action="Index"
               asp-route-page="@i"
                   class="btn @((i) == Model.Page ? "btn-secondary" : "btn-outline-secondary")"
                   type="button"> @(i + 1)</a>
            }
        </div>
    </div>

    <div class="col-4">
        <form asp-controller="Forms" asp-action="Index" asp-route-page="@searchText">
            <div class="input-group">
                <input asp-for="@searchText" type="text" class="form-control" placeholder="@Localizer["Search ..."]" aria-label="Input group example" aria-describedby="btnGroupAddon">
                <button class="btn btn-outline-secondary input-group-text" id="btnGroupAddon" type="submit"><i class="bi-search"></i></button>
            </div>
        </form>
    </div>

    <table class="col-11 table">
        <thead>
            <tr>
                <th>
                    @Localizer["Title"]
                <th>
                        @Localizer["Description"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Forms)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                        <a asp-controller="Answers" asp-action="Fill" asp-route-formId="@item.Id">@Localizer["Fill"]</a> |
                        <a class="link-danger"
                           data-bs-toggle="modal"
                           data-bs-target="#deleteModal"
                           data-bs-id="@item.Id"
                           data-bs-title="@item.Title">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>



<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-1 text-center">

            <div class="modal-body justify-content-center">

                <div class="h2 mb-5">@Localizer["Delete form <q></q>?"]</div>

                <form asp-action="Delete" method="post">
                    <input class="btn btn-danger" type="submit" value="@Localizer["Delete"]" />
                </form>

            </div>

        </div>
    </div>
</div>




@section Scripts
    {
    <script>
        const deleteModal = document.getElementById('deleteModal')
        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', event => {
                // event sender
                const button = event.relatedTarget
                // attribute extractions
                const id = button.getAttribute('data-bs-id')
                const title = button.getAttribute('data-bs-title')

                // Update the modal's content.
                deleteModal.querySelector('.modal-body form').attributes.getNamedItem("action").value += `/${id}`;
                const titleElement = document.createTextNode(title);
                deleteModal.querySelector('.modal-body div q').appendChild(titleElement); //parentNode.appendChild(`<div>${title}</div>`);
            })
        }
    </script>
}