@using DomraSinForms.Application.Questions.Commands.CreateTextQuestion;
@using DomraSinForms.Domain.Models.Questions;
@using Forms.Mvc.Helpers;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model CreateTextQuestionCommand
@{
    Model.FormId = ViewData["FormId"] as string ?? "";
    var modalId = ViewData["ModalId"] as string ?? "createTextQuestionModal";
}
<div class="modal" id="@modalId">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-1">

            <div class="modal-body justify-content-center">

                <div class="h2 mb-5 text-center">@Localizer["New question"]</div>

                <form asp-controller="Questions" asp-action="CreateTextQuestion" method="post">

                    <input asp-for="FormId" value="@Model.FormId" hidden />

                    <div class="form-group mb-2">
                        <input class="form-control form-control-lg" type="text" placeholder="@Localizer["Question text"]" asp-for="QuestionText" />
                        <span asp-validation-for="QuestionText" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-2">
                        <label class="form-check-label">@Localizer["Required"]</label>
                        <input class="form-check-input" type="checkbox" asp-for="IsRequired" />
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-label">@Localizer["Question type"]</label>
                        <select class="form-select" asp-for="Type" asp-items="@(QuestionsHelper.TextQuestionTypesSelect(Localizer))"></select>
                    </div>

                    <div class="form-group mb-2">
                        <input class="btn btn-primary form-control" type="submit" value="@Localizer["Create"]" />
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>