@using DomraSinForms.Application.Questions.Commands.UpdateTextQuestion;
@using DomraSinForms.Domain.Models.Questions;
@using Forms.Mvc.Helpers;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model UpdateTextQuestionViewModel

@{
    Model.Command = new UpdateTextQuestionCommand
    {
        Id = Model.Question.Id,
        QuestionText = Model.Question.QuestionText,
        IsRequired = Model.Question.IsRequired,
        Type = Model.Question.Type,
        Index = Model.Question.Index,
    };
    var modalId = ViewData["ModalId"] as string ?? $"updateModal{Model.Question.Id}";
}

<div class="modal" id="@modalId">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-1">

            <div class="modal-body justify-content-center">

                <div class="h2 mb-5 text-center">@Localizer["Edit question"]</div>

                <form asp-controller="Questions" asp-action="UpdateTextQuestion" method="post">

                    <input asp-for="Command.Id" value="@Model.Question.Id" hidden />

                    <div class="form-group mb-2">
                        <input class="form-control form-control-lg" type="text" placeholder="@Localizer["Question text"]" asp-for="Command.QuestionText" />
                        <span asp-validation-for="Command.QuestionText" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-2">
                        <label class="form-check-label">@Localizer["Required"]</label>
                        <input class="form-check-input" type="checkbox" asp-for="Command.IsRequired" />
                    </div>

                    <div class="form-group mb-2">
                        <label class="form-label">@Localizer["Index"]</label>
                        <input class="form-control" type="number" asp-for="Command.Index" />
                    </div>
                    
                    <div class="form-group mb-2">
                        <label class="form-label">@Localizer["Question type"]</label>
                        <select class="form-select" asp-for="Command.Type" asp-items="@(QuestionsHelper.TextQuestionTypesSelect(Localizer))"></select>
                    </div>

                    <div class="form-group mb-2">
                        <input class="form-control btn btn-primary" type="submit" value="@Localizer["Save"]"/>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
