@using DomraSinForms.Application.Answers.Queries.GetList;
@using DomraSinForms.Application.Forms.Queries.GetList;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model FormListDto

<div class="row g-3 gx-5 justify-content-center">
    <div class="col-sm-10 col-md-8 col-xl-6 row g-3 gx-4">
        <div class="col-12">
            <div class="display-4 text-center">@Localizer["Forms"]</div>
        </div>
        @foreach (var form in Model.Forms)
        {
            <div class="col-12">
                <a class="card card-button text-decoration-none" asp-controller="Statistics" asp-action="Summary" asp-route-formId="@form.Id">
                    <div class="card-body">
                        <div class="card-title h5">@form.Title</div>
                        <div>@form.Description</div>
                        <div>@Localizer["Answers count"]: @(form.AnswersCount)</div>
                        <div class="text-muted small">@Localizer["Form version"]: @(form.Version?.Index ?? 0)</div>
                    </div>
                </a>
            </div>
        }
        <div class="col-12 justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" @(Model.PageCount == 1 ? "hidden" : "")>
        <div class="btn-group me-2" role="group" aria-label="First group">
            @for (int i = 0; i < Model.PageCount; i++)
            {
                <a asp-controller="Forms"
               asp-action="Index"
               asp-route-page="@i"
               asp-route-count="@Model.Query.Count"
               asp-route-order="@Model.Query.OrderBy"
                   class="btn @((i) == Model.Query.Page ? "btn-secondary" : "btn-outline-secondary")"
                   type="button"> @(i + 1)</a>
            }
        </div>
    </div>
    </div>
</div>
