@using DomraSinForms.Domen.Models;
@model IEnumerable<Form>
@{
    ViewData["Title"] = "Answers";
}
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Fill" asp-route-id="@item.Id">Заполнить</a> |
                    <a asp-action="See" asp-route-id="@item.Id">Просмотреть ответы</a> @*|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>