@using Forms.Mvc.Models.Answers;
@using Forms.Mvc.Models.Statistics;
@using Microsoft.AspNetCore.Mvc.Localization;
@model FormAnswersViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["All answers"]?.Value;
}


<div class="h1 text-center">
    @Localizer["All answers"]
</div>

<div class="row g-3 justify-content-center">
    
    <div class="col-sm-1 col-md-3 col-xl-3"></div>
    <div class="col-sm-12 col-md-6 col-xl-6 row g-3 gx-4">
        

        @foreach (var formAnswers in Model.FormAnswersList)
        {
            <div class="col-12">
                <div class="card card-button" data-bs-toggle="modal" data-bs-target="#@formAnswers.Id">
                    <div class="card-header">@Localizer["Creation date"]: @formAnswers.CreationDate  <span class="text-muted small">@(formAnswers.UserNick ?? Localizer["Anonymous"]?.Value)</span></div>
                    <div class="card-body">
                        <div>@Localizer["Answers count"]: @formAnswers.Answers.Count</div>
                        <div>@Localizer["Form version"]: @formAnswers.FormVersion?.Index</div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_FormAnswersPartial", formAnswers, new ViewDataDictionary(ViewData){
                {"ModalId", formAnswers.Id}
            })
        }

        
    </div>
    <div class="col-sm-12 col-md-3 col-xl-3 col-12 mt-sm-0 mt-5">
        @await Html.PartialAsync("_FormNavigationPartial", Model.FormId)
    </div>
</div>
