@page
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model RegisterConfirmationModel
@{
    ViewData["Title"] = Localizer["Register confirmation"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    
    <a class="h2" id="confirm-link" href="@Model.EmailConfirmationUrl">@Localizer["Click here to confirm your account"]</a>
</p>
    }
    else
    {
<p>
    @Localizer["Please check your email to confirm your account."]
</p>
    }
}

