@using Forms.Mvc.ViewModels.Answers.AnswersModels;
@using Microsoft.AspNetCore.Mvc.Localization;
@model RadioAnswer
@inject IViewLocalizer Localizer
@{
    var modalId = ViewData["ModalId"] as string ?? "somethingWrongWithThisModal";
    var modelId = "__" + Model.QuestionId.Replace('-', '_');
}
<div class="modal fade" tabindex="-1" id="@modalId">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content justify-content-center">
            <form asp-controller="Answers" asp-action="UpdateRadioAnswer" method="post">
                <div class="modal-header">
                    <div class="modal-title h5">@Model.Question?.QuestionText</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
                </div>
                <div class="modal-body">

                    <input asp-for="FormId" hidden />
                    <input asp-for="Index" hidden />
                    <input asp-for="IsRequired" hidden />
                    <input asp-for="QuestionId" hidden />
                    @for (int i = 0; i < Model.Options.Count(); i++)
                    {
                        <div class="form-check">
                            <input asp-for="Options[i]" hidden/>
                            @Html.RadioButtonFor(m => m.SelectedValue, Model.Options[i], new { @class = "form-check-input",id=$"{modelId}-check-{i}"})
                            @*
                            <input class="form-check-input" name="radio-@(modelId)" asp-for="SelectedValue" type="radio" value="@Model.Options[i]" id="@(modelId)-check-@(i)">
                            *@
                            <label class="form-check-label" for="@(modelId)check">@Model.Options[i]</label>

                        </div>
                    }
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-success form-control">@Localizer["Send"]</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>