@using DomraSinForms.Application.Answers.Commands.Create;
@using DomraSinForms.Domain.Models.Questions;
@using Forms.Mvc.ViewModels.Answers;
@using Forms.Mvc.ViewModels.Answers.AnswersModels;
@using Microsoft.AspNetCore.Mvc.Localization;
@model FillFormViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = $"{Localizer["Fill form"]?.Value} {Model.Form?.Title}";
    var sendButtonClass = Model.RequiredQuestionsAnswered ? "btn-success" : "btn-outline-secondary";
}

@if (Model.Answers.Length > 0)
{
    <div class="row g-3 justify-content-center">

        <div class="col-12 h1 text-center">@Model.Form?.Title</div>
        <div class="col-12 h5 text-center text-muted">@Model.Form?.Description</div>
        <div class="col-sm-10 col-md-7 col-xl-5 row g-3">
            @foreach (var answer in Model.Answers.OrderBy(a => a.Index))
            {
                <div class="col-12"> @await Html.PartialAsync("_AnswerPartial", answer) </div>
            }
            <div class="col-12">
                <form asp-controller="Answers" asp-action="CompleteForm" asp-route-formId="@Model.FormId" method="post">
                    <input class="form-control btn @sendButtonClass" type="submit" value="@Localizer["Send"]" />
                </form>
            </div>
        </div>


    </div>
}
else
{
    <code class="text-center">
        <div class="display-5"><var>content</var> = <keyword>null</keyword>;</div>
        <div class="text-center display-4">Please, reload this page</div>
    </code>
    <style>
        var {
            color: aqua;
        }
        keyword {
            color: blue
        }
        code {
            color: darkgrey;
        }
    </style>
}
@section Scripts {
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

}