@using DomraSinForms.Application.Users.Update;
@inject IViewLocalizer Localizer
@model DomraSinForms.Domain.Identity.User
@{
    ViewData["Title"] = Localizer["Profile"];
}
<div class="display-4 text-center mb-5">
    @Localizer["Profile"]<i class="bi-person-circle ms-4 me-2"></i>
</div>
<div class="row g-3 justify-content-center">
    <div class="col-sm-12 col-md-6 col-xl-6 row g-3 gx-4">
        <div class="form-group">
            <div class="text-muted">@Localizer["Username"]:</div>
            <div class="display-6">@Model.UserName</div>
        </div>
        <div class="form-group">
            <div class="form-label text-muted">@Localizer["Email"]:</div>
            <div class="display-6">
                @Model.Email
                @if (Model.EmailConfirmed)
                {
                    <span class="text-success"><i class="bi-check2"></i></span>
                }
            </div> 
            
        </div>
        <div class="form-group mb-5">
            <div class="form-label text-muted">@Localizer["Nick"]:</div>
            <div class="display-6">@(Model.NickName ?? Localizer["Not specified"]?.Value)</div>
        </div>
        <div class="form-group d-grid">
            <button class="btn btn-success object-fit-container" data-bs-toggle="modal" data-bs-target="#editProfileModal">@Localizer["Change user data"]</button>
        </div>
    </div>
</div>

@(
await Html.PartialAsync(
        "_EditUserModalPartial", 
        new UpdateUserCommand{ Id= Model.Id, Email = Model.Email, NickName = Model.NickName, Username = Model.UserName},
        new ViewDataDictionary(ViewData)
        {
            {"ModalId", "editProfileModal"}
        })
)