@using DomraSinForms.Domain.Models.Questions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Forms.Mvc.Services;
@model QuestionOption
@inject IViewLocalizer Localizer

@{
    //Model.Text ??= Localizer["New option"]?.Value ?? "";
    var deleteButtonId = $"delete-option-button-{Model.Id}";
    var optionId = $"option-{Model.Id}";
}
<div id="@optionId">
    @using (Html.BeginCollectionItem("Options"))
    {
        <div class="input-group mb-2"  data-dsf-option>

            <input class="form-control" asp-for="Text" aria-describedby="@deleteButtonId" placeholder="@Localizer["New option"]" />
            <button class="btn btn-outline-danger" id="@deleteButtonId" type="button" onclick="deleteOption('@optionId')">@Localizer["Delete"]</button>

        </div>
    }
</div>

