@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
<footer class="container pt-3">

    <div class="row justify-content-between text-center">

        <div class="col-6 col-md-3">
            <h5><a class="h5 text-decoration-none" asp-controller="Home" asp-action="Index">@Localizer["DomraSinForms"]</a></h5>
            
        </div>
        <div class="col-6 col-md-3">
            <h5><a class="h5 text-decoration-none" asp-controller="Home" asp-action="Index">@Localizer["About us"]</a></h5>
            
        </div>
        <div class="col-6 col-md-3">
            <input class="btn-check btn-outline-primary" type="checkbox" role="switch" id="themeSwitcher">
            <label class="h5" for="themeSwitcher" id="onDarkThemeSwitchLabel"><i class="bi-sun-fill me-2"></i>@Localizer["Disable dark theme"]</label>
            <label class="h5" for="themeSwitcher" id="onLightThemeSwitchLabel"><i class="bi-moon-fill me-2"></i>@Localizer["Enable dark theme"]</label>

        </div>

        <div class="col-6 col-md-3">
            <partial name="_LanguagePartial" />
        </div>

    </div>

    <div class="flex-column d-flex flex-sm-row justify-content-center mt-2 pt-2 border-top">

        <p>@Localizer["by IS2-19"]</p>

    </div>

</footer>
